{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="main-container">
        <div class="main-title">
            <h2>Modifier le billet</h2>
        </div>
        <div class="flux">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="head-post">
                    <span>
                        <h4>Vous voulez modifier votre critique</h4>
                    </span>
                </div>
                <div class="review">
                    <h3>Critique</h3>
                    <div class="review">
                        <p>
                            <label for="id_headline" >Titre&nbsp;:</label>
                            <input class="id_headline" type="text" name="headline" maxlength="128" value="{{ review_form.headline.value }}" required="" id="id_headline" placeholder="Titre de votre critique">
                        </p>
                        <div class="radio">
                            <label for="id_rating">Note&nbsp;:</label>
                                <div class="radio-inline">
                                    {% for i in loop_times %}
                                        <span><input type="radio" id="option{{ i }}" name="rating" value="{{ i }}" required {% if review_form.initial.rating == i %} checked {% endif %}></span>
                                    {% endfor %}
                                </div>
                            </div>
                        <div class="input-wrapper">
                            <label for="id_body">Commentaire&nbsp;:</label>
                            <textarea class="id_body" id="id_body" name="body" rows="4" cols="50" placeholder="Saisissez votre avis...." required="">{{ review_form.body.value }}</textarea>
                        </div>
                        <form action="{% url 'review_ticket_edit' ticket.id %}" method='post'>
                            {% csrf_token %}
                            <input class="review_create_button" type="submit" value="Envoyer">
                        </form>
                    </div>
                </div>
                <div class="ticket">
                    <div class="author">
                        <h4 > Ticket - ({{ ticket.user }}) </h4>
                        <p>{{ ticket.title }}</p>
                        <div class="image-container">
                            <img class="image" src="{{ ticket.image.url }}" alt="">
                            <div class="description">
                                <h2>Description :</h2>
                                <p>
                                    {{ ticket.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
